@import url('./Vars.css');

#converter{
    height: 100vh;
    /* background-color: var(--signature); */
    background-color: #202124;
    display: flex;
    align-items: center;
    justify-content: center;
}

.converter-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.converter-left{
    width: 47%;

    /* border: 1px solid red; */
}

.converter-left-container>h1{
    font-size: 4rem;
    /* color: #181823; */
    /* color: white; */
    color: var(--signature);
    line-height: 1;
    margin: 0;
    /* text-transform: uppercase; */
}

.converter-left-container>p{
    /* color: #181823; */
    color: white;
    line-height: 1.5;

}

.converter-left-container>p>span{
    color: var(--signature);
}

.converter-left-container>p:nth-child(2){
    margin: 1.5rem 0;
}

.converter-left-container>p:nth-child(3){
    margin: 1.5rem 0 0;

}

.converter-left-container>a{
    margin: .5rem 0 0;
    color: var(--signature);
    text-decoration: underline;
    text-underline-offset: .3em;
}

.converter-right{
    width: 47%;
    background-color: white;
    /* background-color: var(--signature); */
    border-radius: 2rem;
    /* box-shadow: 0 0 .5rem var(--signature); */
    border-bottom: 10px solid var(--signature);
    /* border: 1px solid black; */
}

.converter-right-container{
    padding: 2rem;
}

.input-amount-div,.amount-get-div{
    display: flex;
    flex-direction: column;

    /* border: 1px solid red; */
}

.input-amount-div>label,.amount-get-div>label{
    margin-bottom: .5rem;
    font-size: .8rem;
}

.input-amount-div>div>input,.amount-get-div>div>input{
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    width: 50%;
    margin-right: .5rem;

    /* border-right: none; */
}

.input-amount-div>div>select{
    
}

.input-amount-div>div>select,.amount-get-div>div>select{
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    /* width: 30%; */
}

option{
    background-image: url('https://wise.com/public-resources/assets/logos/wise-personal/logo_inverse.svg');
    background-color: red;
    padding: 5rem 0;
}

.converter-right-container>ul{
    margin: 1rem 0;
    padding: 0;


}

.converter-right-container>ul>li{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.converter-right-container>ul>li>i{
    margin-right: .8rem;
}

.converter-right-container>ul>li>div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.converter-right-container>ul>li>div>p:nth-child(1){
    font-weight: 600;
}

.save-upto>p>span{
    font-weight: 600;
}

.converter-btns{
    width: 100%;
    display: flex;
    justify-content: center;

    /* border: 1px solid red; */
}

.converter-btns>a{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--signature);
    color: var(--secondary-bg);
    font-weight: 600;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
}